.dashboard {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: #B0E0E6;
    border-radius: 10px;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    height: auto; /* Reverted height to auto */
    padding-top: 50px;
    color: black; /* Changed text color to black */
    pointer-events: none;
}

.dashboard__title {
    position: absolute;
    top: 10px;
    font-size: 1.2rem;
    font-style: italic;
    left: 50%;
    transform: translateX(-50%);
}

.dashboard__header {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

.dashboard__set {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.dashboard__header__head {
    border-right: 1px solid #FBFBFB;
    width: 100%;
    margin: 15px 0; /* Reverted margin to original */
    padding: 0 10px; /* Reverted padding to original */
    display: flex;
    align-items: center;
    height: 30px; /* Reverted height to original */
}

.dashboard__set__data {
    width: 100%;
    display: flex;
    margin: 15px 0; /* Reverted margin to original */
    padding: 0 10px; /* Reverted padding to original */
    align-items: center;
    height: 30px; /* Reverted height to original */
}
