.listCourses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjusted for responsive layout */
    gap: 20px; /* Combined column-gap and row-gap into gap property */
    justify-content: center;
    width: 100%;
    max-height: calc(100% - 20px);
    overflow: auto;
    position: relative;
    padding: 20px; /* Added padding for spacing */
    background-color: #ffffff; /* Added background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
    border-radius: 10px;
    background-color: #ffffff; /* Set background color to the blue shade */
    color: black; /* Set font color to black */
    font-weight: bold;
}
